{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>About Me</h1>
  <br />
  <h3>Bio</h3>
  <p>
    My name is Ethan Kasunick and I am a senior at Brigham Young University. My
    major is Information Systems and am on track to minor in German.
  </p>

  <h3>Skills</h3>
  <ul>
    <li>
      Python
      <ul>
        <li>Django</li>
        <li>Pandas and other libraries</li>
        <li>Machine Learning</li>
        <li>Data Analytics</li>
      </ul>
    </li>
    <br />
    <li>
      Javascript
      <ul>
        <li>NodeJS</li>
      </ul>
    </li>
    <br />
    <li>
      C#
      <ul>
        <li>ASP.NET</li>
      </ul>
    </li>
    <br />
    <li>
      SQL and Database Management
      <ul>
        <li>PostgreSQL</li>
        <li>MySQL</li>
        <li>SQLite</li>
      </ul>
    </li>
    <br />
    <li>
      Cloud Technologies
      <ul>
        <li>AWS</li>
        <li>Azure</li>
      </ul>
    </li>
    <br />
    <li>
      Project Management
      <ul>
        <li>Scrum framework</li>
        <li>Waterfall methodology</li>
      </ul>
    </li>
    <br />
    <li>Microsoft Office Suite</li>
  </ul>

  <h3>Certifications</h3>
</div>
{% endblock %} {% block foot %} {% endblock %}
